<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 md:ml-10">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-theme">
          リリースノート
        </h1>
        <div class="h-1 w-20 bg-point rounded"></div>
      </div>
    </div>
    <div class="flex justify-center md:w-5/6 w-full p-16 mx-auto rounded-lg bg-white">
      <div>
        エンジニア・エンジニアになりたい人たちをつなげるアプリ「EngiC.」についてのお知らせ<br>
        <br>
        <h2 class="text-xl">β版リリース</h2>
          2024年3月4日にβ版をリリースしました！<br>レスポンシブデザインとはなっていますが、画面サイズによっては表記が崩れる恐れがあります。
        <br>
      </div>
    </div>
    <div class="mt-10 mx-3 flex flex-row justify-center">
      <%= link_to "トップページに戻る", root_path, class: "bg-card-body bg-white rounded py-2 px-5 cursor-pointer" %>
      <p></p>
    </div>
  </div>
</section>