<%= turbo_frame_tag user do %>
  <div class="ml-2 border-b">
    <div class="font-medium">
        <%= user.name %>
    </div>
    <div class="flex justify-between">
      <p class="text-slate-500 text-sm"><%= simple_format(user.introduction, {}, wrapper_tag: "span") %></p>
      <% if params[:controller] != "mypages" %>
        <%= link_to "", edit_user_path(user), class: "fa-regular fa-pen-to-square " %>
      <% end %>
    </div>
  </div>
<% end %>
