<%= turbo_frame_tag user do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto">
      <%= user.name %>
    </div>
    <div class="col-4 my-auto">
      <%= user.introduction %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <% if params[:controller] != "mypages" %>
        <%= link_to "編集", edit_user_path(user), class: "btn btn-sm btn-outline-primary me-2" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>