<div class="user-profile">
  <h2><%= @user.name %></h2>
</div>
<div class="actions">
  <button class="sort-asc">Sort (ascending)</button>
  <button class="sort-desc">Sort (descending)</button>
</div>
<div class="grid">
  <div class="item">
    <ul>
      <li>
        <a href="#" contenteditable>
          <h2>Title #1</h2>
          <p>Text Content #1</p>
        </a>
      </li>
    <ul>
  </div>
  <div class="item">
    <div class="item-content">4</div>
  </div>
  <div class="item">
    <div class="item-content">19</div>
  </div>
  <div class="item">
    <div class="item-content">1</div>
  </div>
  <div class="item">
    <div class="item-content">5</div>
  </div>
  <div class="item">
    <div class="item-content">6</div>
  </div>
  <div class="item">
    <div class="item-content">7</div>
  </div>
  <div class="item">
    <div class="item-content">8</div>
  </div>
  <div class="item">
    <div class="item-content">11</div>
  </div>
  <div class="item">
    <div class="item-content">3</div>
  </div>
  <div class="item">
    <div class="item-content">9</div>
  </div>
  <div class="item">
    <div class="item-content">10</div>
  </div>
  <div class="item">
    <div class="item-content">12</div>
  </div>
  <div class="item">
    <div class="item-content">13</div>
  </div>
  <div class="item">
    <div class="item-content">15</div>
  </div>
  <div class="item">
    <div class="item-content">16</div>
  </div>
  <div class="item">
    <div class="item-content">14</div>
  </div>
  <div class="item">
    <div class="item-content">18</div>
  </div>
  <div class="item">
    <div class="item-content">20</div>
  </div>
  <div class="item">
    <div class="item-content">17</div>
  </div>
</div>