<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to "Engic.", root_path, class:"btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none gap-2">
    <%= link_to "Log in", new_user_session_path %>
  </div>
</div>