<div class="navbar">
  <div class="flex-1">
    <%= link_to "Engic.", root_path, class:"corsor-pointer text-xl" %>
  </div>
  <div class="flex-none gap-2">
    <div class="btns px-8 py-3 text-lg font-semibold cursor-pointer dark:border-gray-100" onclick="my_modal_1.showModal()">ログイン</div>
  </div>
</div>