<div id="item-<%= item.id %>" class="item muuri-item muuri-item-shown" >
<ul>
    <li>
      <a href="#">
        <h2><%= item.title %></h2>
        <p><%= item.content %></p>
      </a>
    </li>
  </ul>
</div>