<%= turbo_frame_tag item, class: "item" do %>
<ul>
    <li>
      
        <h2><%= item.title %></h2>
        <p><%= item.content %></p>
        <p>
        <%= link_to "削除", mypage_item_path(mypage_id, item), data: { turbo_method: :delete } %>
        </p>
      
    </li>
  </ul>
<% end %>