<div class="felx justify-center container mx-auto">
  
      <div class="grid">
        <% @items.each do |item| %>
          <%= render 'item', item: item, user_id: @user.id%>
        <% end %>
      </div>
  <div class="mt-10">
  <%= render "form", user: @user, item: @item %>
  </div>
</div>


