<div id="itemsGrid" class="grid">
<% @items.each_with_index do |item, index| %>
<div id="item-<%= index %>" class="item">
        <%= render @item %>
  </div>
    <% end %>
</div>
<%= render "form", mypage: @mypage, item: @item %>