.text{
  color: red;
}

.actions {
  margin: 5px;
}
.grid {
  position: relative;
  
}

.item {
  position: absolute;
  width: 230px;
  height: 135px;
  margin: 5px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.item.muuri-item-hidden {
  z-index: 1;
}
.item.muuri-item-releasing {
  z-index: 3;
}
.item.muuri-item-dragging {
  z-index: 4;
}
.item-content {
  position: relative;
  width:230px;
  height:135px;
  background-color: white;
  margin:0px;
  padding:0;
  border-radius: 2%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition-property: border-radius;
  transition-duration:0.2s;
  transition-timing-function:ease-in-out;
}

.item-content:hover {
  border-radius:2% 2% 50% 2% / 2% 2% 20% 2%;
  transform-origin: left bottom;
}
.note_card {
  width: 750px;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab.active {
  border-bottom: 2px solid rgb(196, 196, 249); 
}
.tabs {
  width: 750px;
  float: right;
}
.clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.background {
  background-color: rgb(246, 246, 246); /* 背景画像を設定 */
}

.fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 1s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}
.name-column {
  width: 20%;
}

.intro-column {
  width: 40%;
}

.skill-column {
  width: 30%;
}

.intro-column, .skill-column, .name-column{
  overflow: hidden; /* 内容がはみ出たら隠す */
  text-overflow: ellipsis; /* はみ出たテキストを省略記号で表示 */
  white-space: nowrap; /* テキストを1行で表示 */
  /* display: block; ブロックレベル要素として扱う */
}