body {
  color: black; /* デフォルトのテキストカラーを変更 */
}
.actions {
  margin: 5px;
}
.grid {
  position: relative;
  
}

.item {
  position: absolute;
  width: 230px;
  height: 135px;
  margin: 5px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.item.muuri-item-hidden {
  z-index: 1;
}
.item.muuri-item-releasing {
  z-index: 3;
}
.item.muuri-item-dragging {
  z-index: 4;
}
.item-content {
  position: relative;
  width:230px;
  height:135px;
  background-color: white;
  margin:0px;
  padding:0;
  border-radius: 2%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition-property: border-radius;
  transition-duration:0.2s;
  transition-timing-function:ease-in-out;
}

.item-content:hover {
  border-radius:2% 2% 50% 2% / 2% 2% 20% 2%;
  transform-origin: left bottom;
}
.mypage_note {
  width: 230px;
  height: 135px;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab.active {
  border-bottom: 2px solid rgb(196, 196, 249); 
}
.tabs {
  width: 600px;
}
.clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.background {
  background-color: rgb(246, 246, 246); /* 背景画像を設定 */
}

.fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 1s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}
.name-column {
  width: 20%;
}

.intro-column {
  width: 40%;
}

.skill-column {
  width: 30%;
}
.follow-button {
  width: 20%;
}

.top-skills {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem; /* Tailwind の gap-4 はデフォルトで1rem */
  place-items: center;
  width: 36rem; /* Tailwind の w-144 は144/4 = 36rem */
  padding: 1.25rem; /* Tailwind の p-5 は1.25rem */
  border-radius: 0.5rem; /* Tailwind の rounded-lg は0.5rem */
  font-size: 3.75rem; /* Tailwind の text-6xl は3.75rem */
}

@media (max-width: 767px) {
  .item,
  .item-content,
  .mypage_note {
    width: 160px;
    height: 92px;
  }
  .mypage_notes {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;
    overflow: auto;
  }
  .tabs{
    width: 320px;
  }
  .top-skills{
    width: 20rem;
  }
  .item {
  margin: 4px;
  }
}

@media (min-width: 769px) {
  .mypage_notes {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25rem;
}
}





